---
---

/*
	Variables
*/
@color-white: rgba(255,255,255,1);
@color-black: rgba(0,0,0,1);
/*@color-color: #B94E1B;*/
/*@color-color: #D40055;*/
  @color-color:#7B909D;
/*@color-color:#F9C606;*/
/*@color-color:#5F642E;*/
@color-orange: #B94E1B;

@color-lighter-grey: rgba(255,255,255,0.2);
@color-light-grey: rgba(255,255,255,0.6);

@color-med-grey: rgba(0,0,0,0.6);
@color-dark-grey:rgba(0,0,0,0.8);

@color-about-bg: rgba(255,255,255,0.8	);

@color-control-text:rgba(0,0,0,0.3);

@color-lock-h:rgba(255,255,255,0.7);
@color-lock:rgba(255,255,255,0.6);
@color-reset-h:rgba(255,255,255,0.5);
@color-reset:rgba(255,255,255,0.4);
@color-about-h: rgba(255,255,255,0.3);
@color-about: rgba(255,255,255,0.2);


@color-lock-h-text: rgba(255,255,255,1);

@color-bg: @color-black;
/*@color-bg: @color-color;*/

@img-01:"{{ site.css_path}}/img/identities/id_01.png";
@img-02:"{{ site.css_path}}/img/identities/id_02.png";
@img-03:"{{ site.css_path}}/img/identities/id_03.png";
@img-04:"{{ site.css_path}}/img/identities/id_04.png";
@img-05:"{{ site.css_path}}/img/identities/id_05.png";
@img-06:"{{ site.css_path}}/img/identities/id_06.png";
@img-07:"{{ site.css_path}}/img/identities/id_07.png";
@img-08:"{{ site.css_path}}/img/identities/id_08.png";
@img-09:"{{ site.css_path}}/img/identities/id_09.png";
@img-10:"{{ site.css_path}}/img/identities/id_10.png";
@img-11:"{{ site.css_path}}/img/identities/id_11.png";
@img-12:"{{ site.css_path}}/img/identities/id_12.png";
@img-13:"{{ site.css_path}}/img/identities/id_13.png";
@img-14:"{{ site.css_path}}/img/identities/id_14.png";
@img-15:"{{ site.css_path}}/img/identities/id_15.png";
@img-16:"{{ site.css_path}}/img/identities/id_16.png";

/*
	Mixins
*/
.border-radius(@radius: 5px) {
	-webkit-border-radius:  @radius;
	-moz-border-radius:  @radius;
	border-radius: @radius;
	-o-border-radius: @radius;
}

.border-radius-bottom(@radius: 5px) {
	-webkit-border-radius:  0 0 @radius @radius;
	-moz-border-radius: 0 0 @radius @radius;
	border-radius: 0 0 @radius @radius;
	-o-border-radius: 0 0 @radius @radius;
}

.box-shadow(@horiz: 0, @vert: 0, @blur: 0, @spread: 0, @color: rgba(0,0,0,1)) {
  -webkit-box-shadow: @horiz @vert @blur @spread @color;
  -moz-box-shadow: @horiz @vert @blur @spread @color;
  box-shadow: @horiz @vert @blur @spread @color;	
}

.base-sans-serif {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.letterpress-light-text (@color: rgba(0,0,0,0.5)) {
  text-shadow: 0 -1px 1px @color;
}

.letterpress-dark-text (@color: rgba(255,255,255,0.75)) {
  text-shadow: 0 1px 0 @color;
}

.background-gradient (@color-top: @brand-color-dark-green , @color-bottom: darken(@brand-color-dark-green,15%)) {
	background: @color-bottom;
  background: -webkit-gradient(linear, left top, left bottom, from(@color-top), to(@color-bottom));
  background: -webkit-linear-gradient(top, @color-top, @color-bottom);
  background: -moz-linear-gradient(top, @color-top, @color-bottom);
  background: -ms-linear-gradient(top, @color-top, @color-bottom);
  background: -o-linear-gradient(top, @color-top, @color-bottom);
}

.page-shadow {
	.box-shadow(0, 1px, 5px, 0, rgba(0,0,0,0.7));
}

.sans-serif {
	 font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;
}

.museo {
	 font-family: "museo-sans","Helvetica Neue",Helvetica,Geneva,Verdana,Arial,sans-serif;
}

/*
	Global
*/
html {
	background: @color-bg;
}

h1 {
	.sans-serif;
	font-weight:200;
	font-size:50px;
	text-align:right;
	float:right;
	color:@color-lighter-grey;
	span.alt {
		color:@color-light-grey;		
	}
}

ul, li {
	margin:0;
}

ul {
	list-style: none;
}

@slice-height:160px;

ul#bottom-flip, ul#middle-flip, ul#top-flip {
	position:relative;	
	height:@slice-height;
	cursor:pointer;
	.slice {
		position:absolute;
/*		width:780px;*/
		width:660px;
		font-size:2em;
		span.text-wrapper, span.text {
			float:right;			
		}		
		span.text-wrapper {
			background: @color-color;
/*			width:300px;*/
			width:260px;
		}
		span.text {
			width:170px;
			position:relative;
			z-index:101;
			font-size:0.5em;			
			line-height:1.2em;
			text-overflow: ellipsis;
			overflow:hidden;
			white-space:normal;
			text-align: left;
			height:@slice-height - 20px;			
			padding:10px 65px 10px 90px;
			display: -webkit-box;
			display: -moz-box;
			display: box;
			-webkit-box-align: center;
			-moz-box-align: center;
			box-align: center;
		}		
	}
	.one {
		background: url(@img-01) no-repeat top left;
	}
	.two {
		background: url(@img-02) no-repeat top left;		
	}
	.three {
		background: url(@img-03) no-repeat top left;
	}
	.four {
		background: url(@img-04) no-repeat top left;
	}
	.five {
		background: url(@img-05) no-repeat top left;		
	}
	.six {
		background: url(@img-06) no-repeat top left;
	}
	.seven {
		background: url(@img-07) no-repeat top left;
	}
	.eight {
		background: url(@img-08) no-repeat top left;		
	}
	.nine {
		background: url(@img-09) no-repeat top left;
	}
	.ten {
		background: url(@img-10) no-repeat top left;
	}
	.eleven {
		background: url(@img-11) no-repeat top left;		
	}
	.twelve {
		background: url(@img-12) no-repeat top left;
	}
	.thirteen {
		background: url(@img-13) no-repeat top left;
	}
	.fourteen {
		background: url(@img-14) no-repeat top left;		
	}
	.fifteen {
		background: url(@img-15) no-repeat top left;
	}
	.sixteen {
		background: url(@img-16) no-repeat top left;
	}
			
}

.slice {
	color:@color-black;
	height:@slice-height;
	text-align:center;
	line-height:@slice-height;
	display:none;
}

ul#top-flip {
	span.text {
		background:@color-lock;
	}	
	.slice {
			background-position: 0 0;
	}
}

ul#middle-flip {
	span.text {
		background:@color-reset;
	}	
	.slice {
			background-position: 0 -@slice-height;		
	}
}

ul#bottom-flip {
	span.text {
		background:@color-about;
	}	
	.slice {
			background-position: 0 -(2*@slice-height);				
	}
}

@control-width: @slice-height;


ul#controls {
	background: @color-color;
	float:right;
	width:@control-width;	
	li {
		float:right;
		padding-left:40px;
		width:@control-width - 40px;
		height:@control-width;
		display:inline-block;
		text-align:center;
		line-height:@control-width;
		margin:0;		
		clear:both;
		cursor:pointer;
		font-size:2em;
		color: @color-color;
		position:relative;
		z-index:106;
		&.lock {
				background: fadein(@color-lock, 20%);
			&.selected {
				background: fadein(@color-lock, 30%);				
				color: lighten(@color-color, 20%);
			}
			&:hover {
				background: fadein(@color-lock, 30%);								
			}
		}
		&.reset{
				background: fadein(@color-reset, 20%);
			&:hover {
				background: fadein(@color-reset, 30%);								
			}	
		}
		&.about{
				background: fadein(@color-about, 20%);

			&:hover {
				background: fadein(@color-about, 30%);								
			}		
		}		
	}
}

li.slice.one {
	display:block;
}

@about-width:500px;
@color-about-link:rgba(0,0,0,0.6);
@color-about-link-h:rgba(0,0,0,0.4);

div#about-content {
	display:none;
	padding-top:50px;
	font-size:1.2em;
	text-align:center;
	.description {
		font-size:1.4em;
		width: @about-width * 2/3;
		margin:0 auto;
	}
	h2 {
		font-weight:normal;
		margin:0.8em auto 0.4em auto;
		font-size:2em;
	}
	.control-label {
		font-size:1.2em;
		display:block;
		margin-top:1em;
		margin-bottom:0.4em;		
	}
	.usage {
		width:460px;
		margin: 0 auto;
		padding-bottom:0.5em;
	}
	.controls {
		margin: 0 auto;
		padding-bottom:2em;		
		li {
			display:inline-block;
			&.lock {
				width:440px;
			}
			&.reset {
				width:400px;
			}
			&.about {

			}
		}
	}
	.dismiss {
		font-size:0.9em;
		color:@color-about-link-h;
		a {
			color:@color-about-link;
			border-bottom:1px dotted @color-about-link;
			text-decoration:none;
			&:hover {
				color:@color-about-link-h;
				border-bottom:1px dotted @color-about-link-h;				
			}
		}
	}
}

@about-width:500px;

.simplemodal-container  {
	background-color:@color-about-bg;
	width:@about-width;
	height:@about-width;
	.border-radius(@about-width/2);
	.box-shadow(0, 1px, 5px, 0, rgba(0,0,0,0.7));	
}

.simplemodal-overlay {
	background-color:@color-black;
}


.slice-wrapper {
	position:relative;
	z-index:105;
	height:@slice-height;
}

li.slice:hover .text {
}


div.randomizer {
	margin:10px;
	width:50px;
	height:50px;
	background:@color-about;
	cursor:pointer;
	text-align:center;
	line-height:50px;
	font-size:2em;
	vertical-align:middle;
	color: @color-bg;
	&.selected {
		line-height:45px;
	}
}