---
layout:   default
title:    Identity Brief
--- 


<div class="grid_10  push_1" id="">
	<ul id="top-flip">
		{% assign context = "" %}
		
		{% assign index_class = "cover" %}
	  {% assign description = "This is a flip book that explores aspects of my identity" %}		
	  {% include slice.html %}
		
		{% assign context = "I think " %}
		
	  {% assign index_class = "one" %}
	  {% assign description = "that I'm ready to get serious about what I want" %}		
	  {% include slice.html %}

	  {% assign index_class = "two" %}
	  {% assign description = "that they've forgotten about me" %}		
	  {% include slice.html %}

	  {% assign index_class = "three" %}
	  {% assign description = "this was a really good idea" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "four" %}
	  {% assign description = "that I'm very lucky in my friends" %}		
	  {% include slice.html %}

	  {% assign index_class = "five" %}
	  {% assign description = "that we're doing the right thing" %}		
	  {% include slice.html %}

	  {% assign index_class = "six" %}
	  {% assign description = "that we'll never be as close as we should be" %}		
	  {% include slice.html %}	
	
	  {% assign index_class = "seven" %}
	  {% assign description = "I'm just like everyone else" %}		
	  {% include slice.html %}

	  {% assign index_class = "eight" %}
	  {% assign description = "that it's too late to change my mind" %}		
	  {% include slice.html %}

	  {% assign index_class = "nine" %}
	  {% assign description = "I'm outside of my comfort zone, but in a good way" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "ten" %}	
	  {% assign description = "I made the right choice" %}		
	  {% include slice.html %}

	  {% assign index_class = "eleven" %}
	  {% assign description = "this has gone on too long" %}		
	  {% include slice.html %}

	  {% assign index_class = "twelve" %}
	  {% assign description = "I'm glad it's just us" %}		
	  {% include slice.html %}
	  {% assign index_class = "thirteen" %}
	  {% assign description = "that it's a long time to wait" %}		
	  {% include slice.html %}

	  {% assign index_class = "fourteen" %}
	  {% assign description = "I've finally done it" %}		
	  {% include slice.html %}

	  {% assign index_class = "fifteen" %}
	  {% assign description = "that everyone is like this" %}		
	  {% include slice.html %}	
	
	  {% assign index_class = "sixteen" %}
	  {% assign description = "that I'm not good company just now" %}		
	  {% include slice.html %}	
	</ul>
	
	<ul id="middle-flip">
		{% assign context = "" %}		
		
		{% assign index_class = "cover" %}
	  {% assign description = "Click on the image to flip pages and remix the image and story" %}				
	  {% include slice.html %}
			
		{% assign context = "I feel " %}
					
	  {% assign index_class = "one" %}
	  {% assign description = "confident, but self doubt is still there" %}		
	  {% include slice.html %}

	  {% assign index_class = "two" %}
	  {% assign description = "abandoned and depressed" %}		
	  {% include slice.html %}

	  {% assign index_class = "three" %}
	  {% assign description = "relaxed, but excited" %}		
	  {% include slice.html %}		
	
	  {% assign index_class = "four" %}
	  {% assign description = "confident in my skills and friendships" %}		
	  {% include slice.html %}

	  {% assign index_class = "five" %}
	  {% assign description = "like a good person" %}		
	  {% include slice.html %}

	  {% assign index_class = "six" %}
	  {% assign description = "regret and personal responsibility" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "seven" %}
	  {% assign description = "like I don't fit in" %}		
	  {% include slice.html %}

	  {% assign index_class = "eight" %}
	  {% assign description = "I've made a bad decision" %}		
	  {% include slice.html %}

	  {% assign index_class = "nine" %}
	  {% assign description = "this time it's right" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "ten" %}
	  {% assign description = "like I have a clean slate" %}		
	  {% include slice.html %}

	  {% assign index_class = "eleven" %}
	  {% assign description = "unappreciated and unsupported" %}		
	  {% include slice.html %}

	  {% assign index_class = "twelve" %}
	  {% assign description = "grateful" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "thirteen" %}
	  {% assign description = "sad to go" %}		
	  {% include slice.html %}

	  {% assign index_class = "fourteen" %}
	  {% assign description = "proud and smart" %}		
	  {% include slice.html %}

	  {% assign index_class = "fifteen" %}
	  {% assign description = "loved and supported" %}		
	  {% include slice.html %}		

	  {% assign index_class = "sixteen" %}
	  {% assign description = "angry and self righteous" %}		
	  {% include slice.html %}		
	
	</ul>
	<ul id="bottom-flip">
		{% assign context = "" %}		
		
		{% assign index_class = "cover" %}
	  {% assign description = "Click anywhere to open the book and begin &hellip;" %}			
	  {% include slice.html %}

		{% assign context = "I am " %}
				
	  {% assign index_class = "one" %}
	  {% assign description = "learning how to get things started" %}		
	  {% include slice.html %}

	  {% assign index_class = "two" %}
	  {% assign description = "going to have to stick up for myself" %}		
	  {% include slice.html %}

	  {% assign index_class = "three" %}
	  {% assign description = "not going to forget this" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "four" %}
	  {% assign description = "an expert at my trade" %}		
	  {% include slice.html %}		
	
	  {% assign index_class = "five" %}
	  {% assign description = "returning a favour" %}		
	  {% include slice.html %}

	  {% assign index_class = "six" %}
	  {% assign description = "not good at this kind of thing" %}		
	  {% include slice.html %}

	  {% assign index_class = "seven" %}
	  {% assign description = "putting on a brave face" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "eight" %}
	  {% assign description = "going to have to make the most of it" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "nine" %}
	  {% assign description = "not on my own" %}		
	  {% include slice.html %}

	  {% assign index_class = "ten" %}
	  {% assign description = "in uncharted waters" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "eleven" %}
	  {% assign description = "taking steps to remedy the situation" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "twelve" %}
	  {% assign description = "scared that I'll fail again" %}		
	  {% include slice.html %}

	  {% assign index_class = "thirteen" %}
	  {% assign description = "not sure if I'm ready for this" %}		
	  {% include slice.html %}

	  {% assign index_class = "fourteen" %}
	  {% assign description = "wondering what comes next" %}		
	  {% include slice.html %}
	
	  {% assign index_class = "fifteen" %}
	  {% assign description = "not ready for the world" %}		
	  {% include slice.html %}		
	
	  {% assign index_class = "sixteen" %}
	  {% assign description = "going to have to grow up" %}		
	  {% include slice.html %}
	
		</li>		
	</ul>

</div>
<div class="grid_1" id="">
	<ul id="controls">
		<li class="lock"><span class="hidden">lock</span></li>
		<li class="reset"><span class="hidden">reset</span></li>						
		<li class="about"><span class="hidden">about</span></li>		
	</ul>
</div>

<div class="hidden">
	<script type="text/javascript">
		<!--//--><![CDATA[//><!--
			var images = new Array()
			function preload() {
				for (i = 0; i < preload.arguments.length; i++) {
					images[i] = new Image()
					images[i].src = preload.arguments[i]
				}
			}
			preload(
				"{{ site.css_path}}/img/identities/id_01.png",
				"{{ site.css_path}}/img/identities/id_02.png",
				"{{ site.css_path}}/img/identities/id_03.png",
				"{{ site.css_path}}/img/identities/id_04.png",
				"{{ site.css_path}}/img/identities/id_05.png",
				"{{ site.css_path}}/img/identities/id_06.png",
				"{{ site.css_path}}/img/identities/id_07.png",
				"{{ site.css_path}}/img/identities/id_08.png",
				"{{ site.css_path}}/img/identities/id_09.png",
				"{{ site.css_path}}/img/identities/id_10.png",
				"{{ site.css_path}}/img/identities/id_11.png",
				"{{ site.css_path}}/img/identities/id_12.png",
				"{{ site.css_path}}/img/identities/id_13.png",
				"{{ site.css_path}}/img/identities/id_14.png",
				"{{ site.css_path}}/img/identities/id_15.png",
				"{{ site.css_path}}/img/identities/id_16.png"
			)
		//--><!]]>
	</script>
</div>