---
layout:   default
title:    Identity Brief
--- 


<div class="grid_10  push_1" id="">
	<ul id="top-flip">
	  {% assign index_class = 'one' %}
	  {% assign description = 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'two' %}
	  {% assign description = 'Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'three' %}
	  {% assign description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ' %}		
	  {% include slice.html %}
	  {% assign index_class = 'four' %}
	  {% assign description = 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'five' %}
	  {% assign description = 'Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'six' %}
	  {% assign description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ' %}		
	  {% include slice.html %}	
	  {% assign index_class = 'seven' %}
	  {% assign description = 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'eight' %}
	  {% assign description = 'Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'nine' %}
	  {% assign description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ' %}		
	  {% include slice.html %}
	  {% assign index_class = 'ten' %}
	  {% assign description = 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'eleven' %}
	  {% assign description = 'Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'twelve' %}
	  {% assign description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ' %}		
	  {% include slice.html %}
	  {% assign index_class = 'thirteen' %}
	  {% assign description = 'Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'fourteen' %}
	  {% assign description = 'Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Sed posuere consectetur est at lobortis. ' %}		
	  {% include slice.html %}

	  {% assign index_class = 'fifteen' %}
	  {% assign description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ' %}		
	  {% include slice.html %}	
	
	  {% assign index_class = 'sixteen' %}
	  {% assign description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. ' %}		
	  {% include slice.html %}	
	</ul>
	
	<ul id="middle-flip">
	  {% assign index_class = 'one' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'two' %}
	  {% assign description = 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'three' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}		
	  {% assign index_class = 'four' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'five' %}
	  {% assign description = 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'six' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'seven' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'eight' %}
	  {% assign description = 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'nine' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}
	  {% assign index_class = 'ten' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'eleven' %}
	  {% assign description = 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'twelve' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'thirteen' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'fourteen' %}
	  {% assign description = 'Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'fifteen' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}		

	  {% assign index_class = 'sixteen' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}		
	
	</ul>
	<ul id="bottom-flip">
	  {% assign index_class = 'one' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'two' %}
	  {% assign description = 'Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'three' %}
	  {% assign description = 'Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'four' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}		
	
	  {% assign index_class = 'five' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'six' %}
	  {% assign description = 'Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'seven' %}
	  {% assign description = 'Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'eight' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'nine' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'ten' %}
	  {% assign description = 'Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'eleven' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'twelve' %}
	  {% assign description = 'Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'thirteen' %}
	  {% assign description = 'Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' %}		
	  {% include slice.html %}

	  {% assign index_class = 'fourteen' %}
	  {% assign description = 'Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo.' %}		
	  {% include slice.html %}
	
	  {% assign index_class = 'fifteen' %}
	  {% assign description = 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.' %}		
	  {% include slice.html %}		
	
	  {% assign index_class = 'sixteen' %}
	  {% assign description = 'Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.' %}		
	  {% include slice.html %}
	
		</li>		
	</ul>

</div>
<div class="grid_1" id="">
	<ul id="controls">
		<li class="lock">lock</li>
		<li class="reset">reset</li>						
		<li class="about">about</li>		
	</ul>
</div>
