<div id="about-content" class="">
	<p class="description">
		This page is an exploration<br /> of <em>identity</em>, with a focus on the serialisation of identity and the interplay between personal identity and the identity of context&mdash;identity as perceived, constructed and remixed by others. 
	</p>
	<h2>usage</h2>
	<p class="usage">
		This page is a virtual flip book. Each page describes a snapshot of my identity in time in image and words. Click the panels to flip them and create new identities and narratives by remixing the parts of others. The controls are very simple:
	</p>
	<p class="tutorial">
		Click here to see how to <a href="javascript:tutorial();" >use the page</a>
	</p>	
	
	<ul class="controls">
		<li class="lock"><span class="control-label">lock</span> locks the current mix of panels to flip together when you click on the page</li>
		<li class="reset"><span class="control-label">reset</span> flips the panels back to the first page</li>
		<li class="about"><span class="control-label">about</span> launches this dialog</li>
	</ul>	
	<p class="dismiss">
		Click anywhere outside the circle to <br /><a href="javascript:;" class="simplemodal-close">dismiss</a>
	</p>	
</div>

